includes:
    - vendor/codeigniter/phpstan-codeigniter/extension.neon
    - vendor/shipmonk/dead-code-detector/rules.neon

parameters:
    phpVersion: 80200
    level: 0
    paths:
        - app
        - tests
    excludePaths:
        - app/Views/*
        - app/Database/Migrations/*
    bootstrapFiles:
        - vendor/codeigniter4/framework/system/Test/bootstrap.php

    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        -
            identifier: shipmonk.deadProperty.neverRead
            paths:
                - app/Config/*
                - app/Libraries/*/ValueObjects/*
        -
            identifier: shipmonk.deadProperty.neverWritten
            paths:
                - app/Config/*
        -
            identifier: shipmonk.deadMethod
            paths:
                - app/Config/*
                - app/Controllers/*
                - app/Commands/*
                - app/Filters/*
                - app/Database/Seeds/*
        -
            identifier: shipmonk.deadConstant
            paths:
                - app/Config/*
        -
            identifier: codeigniter.superglobalsOffsetAccess
            paths:
                - tests/*
        -
            identifier: codeigniter.superglobalsOffsetAssign
            paths:
                - tests/*
        -
            identifier: codeigniter.superglobalsOffsetUnset
            paths:
                - tests/*
        -
            identifier: codeigniter.cacheHandlerInstance
            paths:
                - tests/*
        -
            identifier: class.notFound
            paths:
                - tests/*
